/* ---------- ROOT ---------- */
:root {
  --background: var(--color-neutrals-20);
  --foreground: var(--color-neutrals-900);
  --font-family-base: var(--font-atkinson), system-ui, sans-serif;
  --font-family-mono: ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutrals-900);
    --foreground: var(--color-neutrals-20);
  }
}

/* ---------- COLOR SCHEME ---------- */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ---------- TYPOGRAPHY ---------- */

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.5;
  letter-spacing: normal;
  word-spacing: normal;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  margin: var(--space-md) auto;
  gap: var(--space-md);
  /* min-width: 100%; */
  max-width: 800px;
  min-height: 100vh;
  padding: 0 var(--space-lg) var(--space-md) var(--space-lg);
  background-color: var(--color-neutrals-20);
  color: var(--color-body);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  padding: 1rem;
  width: 100vw;
  color: var(--color-neutrals-20);
  background-color: var(--color-neutrals-900);
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-xs);
    list-style: none;
    padding: 0;
    margin: 0;
    
    @media (min-width: 641px) {
      flex-direction: row;
      gap: var(--space-lg);
    }
  }
  
  @media screen and (max-width: 425px) {
    margin-bottom: var(--dock-height);
  }
}

h1 { width: 100%; font-size: var(--font-size-2xl); font-weight: var(--font-weight-bold); line-height: var(--font-line-height-normal); }
h2 { width: 100%; font-size: var(--font-size-xl); font-weight: var(--font-weight-bold); line-height: var(--font-line-height-normal); }
h3 { width: 100%; font-size: var(--font-size-lg);  font-weight: var(--font-weight-semibold); }
h4 { width: 100%; font-size: var(--font-size-md);  font-weight: var(--font-weight-semibold); }
p  { width: 100%; font-size: var(--font-size-sm);  line-height: var(--font-line-height-normal); }

ul {
  width: 100%;
  font-size: var(--font-size-sm);
  line-height: var(--font-line-height-normal);
  list-style: disc;
  padding-left: var(--space-lg);
}